WebContent/WEB-INF/wsdl/NotaBeanWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://bean/" xmlns:tns="http://bean/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="retornarOi" type="tns:retornarOi"/>

  <xs:element name="retornarOiResponse" type="tns:retornarOiResponse"/>

  <xs:complexType name="retornarOi">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="retornarOiResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

