WebContent/WEB-INF/wsdl/WSTurmaService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://bean/" xmlns:tns="http://bean/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="listarTurmas" type="tns:listarTurmas"/>

  <xs:element name="listarTurmasResponse" type="tns:listarTurmasResponse"/>

  <xs:complexType name="listarTurmas">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listarTurmasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

